<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ section.settings.card_image | image_url: width: 500 }}" alt="{{section.settings.card_image.alt}}">
  <div class="card-body">
    <h5 class="card-title">{{ section.settings.card_title}}</h5>
    <p class="card-text">{{section.settings.card_text}}</p>
    <a href="{{section.settings.btn_link}}" class="btn btn-primary">{{section.settings.btn_text}}</a>
  </div>
</div>
<style>
  .card .btn {
    background-color : {{ section.settings.btn-color}}
  }
</style>  
{% schema %}
{
    "name": "Bootstrap Card",
    "tag": "section",
    "settings": [
         {
          "type": "image_picker",
          "id": "card_image",
          "label": "Card Image"
        },
        {
          "type": "text",
          "id": "card_title",
          "label": "Card Title"
        },
        {
          "type": "textarea",
          "id": "card_text",
          "label": "Card Text"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Btn Text"
        },
 {
          "type": "text",
          "id": "btn_link",
          "label": "Btn Link"
        },
        {
            "type": "color",
            "id": "btn-color",
            "label": "Button Color",
            "default": "#3b4d28"
        }
    ],
    "presets": [{
        "name": "Bootstrap Card",
        "category": "Custom"
    }]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}